<section class="recently-viewed products">

    {{ function('wc_set_loop_prop', 'name', 'viewed-products') }}
    {{ function('wc_set_loop_prop', 'columns', filters('jankx_ecommerce_viewed_products_columns', 4)) }}

    {{ function('woocommerce_product_loop_start') }}
        {% for i in 0..wp_query.post_count %}
            {{ wp_query.the_post() }}
            {{ function('wc_get_template_part', 'content', 'product') }}
        {% endfor %}
    {{ function('woocommerce_product_loop_end') }}

</section>
